@page
@model SchoolLocker.WebApp.Pages.Pupils.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Message"]</h2>
<form method="post">
    <button type ="submit"
            class="btn btn-primary"
            asp-page="Create">
            Create new
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pupils[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pupils[0].FirstName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pupils)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        <button type="submit"
                                class="btn btn-link "
                                asp-page-handler="DetailsSelected"
                                asp-route-pupilId="@item.Id">
                            Details
                        </button> |
                        <button type="submit"
                                class="btn btn-link "
                                asp-page-handler="EditSelected"
                                asp-route-pupilId="@item.Id">
                            Edit
                        </button> |
                        <button type="submit"
                                class="btn btn-link "
                                asp-page-handler="DeleteSelected"
                                asp-route-pupilId="@item.Id">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
